---
- name: Install dependencies
  ansible.builtin.apt:
    name: "{{ ssh_keys_dependencies }}"
    state: present
    update_cache: true

- name: Install authorized keys
  ansible.posix.authorized_key:
    key: "{{ lookup('file', item.src) }}"
    state: present
    user: "{{ item.user }}"
  loop: "{{ ssh_keys_authorized_keys }}"
  loop_control:
    label: "{{ item.user }}"

- name: Ensure .ssh directory exists
  ansible.builtin.file:
    mode: "0700"
    path: "{{ item }}"
    state: directory
  loop: "{{ ssh_keys_known_hosts | selectattr('path', 'defined') | map(attribute='path') | map('dirname') | unique | list }}"
  loop_control:
    label: "{{ item }}"

- name: Install known hosts
  ansible.builtin.known_hosts:
    hash_host: "{{ item.hash_host | d(omit) }}"
    key: "{{ item.name }} {{ item.type }} {{ item.key }}"
    name: "{{ item.name }}"
    path: "{{ item.path | d(omit) }}"
    state: present
  loop: "{{ ssh_keys_known_hosts }}"
  loop_control:
    label: "{{ item.name }}"

- name: Ensure directory for keys exist
  ansible.builtin.file:
    mode: "0700"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    path: "{{ item.dest | dirname }}"
    state: directory
  loop: "{{ ssh_keys_private_keys + ssh_keys_public_keys }}"
  loop_control:
    label: "{{ item.dest | dirname }}"

- name: Install private keys
  ansible.builtin.copy:
    dest: "{{ item.dest }}"
    group: "{{ item.group }}"
    mode: "0600"
    owner: "{{ item.owner }}"
    src: "{{ item.src }}"
  loop: "{{ ssh_keys_private_keys }}"
  loop_control:
    label: "{{ item.dest }}"
  no_log: true

- name: Install public keys
  ansible.builtin.copy:
    dest: "{{ item.dest }}"
    group: "{{ item.group }}"
    mode: "0644"
    owner: "{{ item.owner }}"
    src: "{{ item.src }}"
  loop: "{{ ssh_keys_public_keys }}"
  loop_control:
    label: "{{ item.dest }}"
